body {
  background-color: rgb(176, 216, 186);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans'
  , 'Helvetica Neue', sans-serif;
}

/* Clase del encabezado */
.encabezado{
  text-align: center;
  color: goldenrod;
}

/* Clase de los datos */
.Informacion{
  text-align: center;
    color: blue;
}